{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<!--  -->

 <div class="content-section">
    <div class="media">
        <div class="media-body">
            <div class='colforapplyandbalance'>
                <div class='colapply'>
                    <h4> Applicant : {{ applicant.user }}</h4>
                   
                    <p class="text-secondary">Type of Leave : {{ obj.alltimeofftype }}</p>
                    {% if obj.starttime != None and obj.endtime != None %}
                    <p class="text-secondary">From : {{ obj.startdate }}    {{ obj.starttime }}</p>
                    <p class="text-secondary">To : {{ obj.enddate }}    {{ obj.endtime }}</p>
                    {% else %}
                    <p class="text-secondary">From : {{ obj.startdate }}</p>
                    <p class="text-secondary">To : {{ obj.enddate }}</p>
                    {% endif %}
                    {% if obj.nonteachertimeofftype == 'Overtime' or obj.nonteachertimeofftype == 'Overtime Compensatory Leave' %}
                    <p class="text-secondary">Estimated Hour (hrs): {{ obj.duration }}</p>
                    {% else %}
                    <p class="text-secondary">Estimated Day (days): {{ obj.duration }}</p>
                    {% endif %}
                    <p class="text-secondary"> Reason : {{ obj.reason }}</p>
                    {% if obj.period != "[]" %}
                    <p class="font-weight-bold"> Period : {{ obj.period}}</p>
                    {% endif %}<br>
                    
                </div>
            </div>
        </div>
        <div class='colbalance'>
            <!-- {% if applicant.is_nonteacher %}
            <h4> Applicant : {{ applicant.user }}</h4>
            <table style="width:100%">
                <tr class='table'>
                    <td> Sick Leave Balance</td>
                    <td> {{ applicant.sickleave }} day(s)</td>
                </tr>
                <tr class='table'>
                    <td> Annual Leave Balance</td>
                    <td> {{ applicant.annualleave }} day(s)</td>
                </tr>
                <tr class='table'>
                    <td> Compensated Leave Balance</td>
                    <td> {{ applicant.compensatedleave }} day(s)</td>
                </tr>
                <tr class='table'>
                    <td> Non-Teacher Ratio</td>
                    <td> {{ applicant.ratio }}</td>
                </tr>
            </table><br><br>
            {% else %}
            <h4> Applicant : {{ applicant.user }}</h4>
            <table style="width:100%">
                <tr class='table'>
                    <td> Sick Leave Balance</td>
                    <td> {{ applicant.sickleave }} day(s)</td>
                </tr>
                <tr class='table'>
                    <td> Casual Leave Balance</td>
                    <td> {{ applicant.casualleave }} day(s)</td>
                </tr>
            </table><br><br>
            {% endif %}
            <hr /> -->
        </div>
    </div>
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'> Supervisor Validation </legend>
            
            <div class="starttimefield" id='input1'>{{ u_form|crispy }}</div>
        </fieldset>
        <div class='form-group'>
            <button type="submit" class="btn btn-primary" onclick="return confirm('*** WARNING : Check your entry as this is an irreversible action. Do you really want to submit? ***');">Save</button>
        </div>
    </form>
</div>
{% endblock %}

<!-- 
<h1>In app template : {{ objec.user.username }}</h1>
<p>{{objec.timeofftype}}</p>
<p>{{objec.startdate}} </p>
<p>{{objec.enddate}} </p>
<p>{{objec.duration}} </p>
<p>{{objec.reason}} </p>
<p>{{objec.firststatus}} </p>
 -->


