{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block extrahead %}
{{ form.media }}
{% endblock %}
 
{% block content %}
<div>
<div style = "font-weight: lighter; font-style:italic;"> View Application > Check Documents </div> <br>
<!--  -->
<h3>Check Attachment</h3><br/>
<table style="width:90%">
  <tr class = 'table'>
    <th>Apply Date/Time</th>
    <th>Name</th>
    <th>Leave Type</th>
    <th>From</th>
    <th>To</th>
    <th>Supervisor Decision</th>
    <th>Vice Principal Decision</th>
    <th >Principal Decision</th>
    <th >Check</th>
  </tr>
{% for stuff in objec_list %}
	
		{% if stuff.user.is_nonteacher %}
		<tr class = 'table'>
			<td> {{ stuff.created_at }}</td>
			<td> {% for each in stuff.users.all %}{{ each }}<br/>{% empty %}{{ stuff.user.username }} {% endfor %} </td>
			<td> {{ stuff.alltimeofftype }}</td>
			{% if stuff.starttime == None and stuff.endtime == None %}
				<td> {{ stuff.startdate}}</td>
				<td> {{ stuff.enddate}}</td>
			{% else %}
				<td> {{ stuff.startdate}} ({{ stuff.starttime }})</td>
				<td> {{ stuff.enddate}} ({{ stuff.endtime }})</td>
			{% endif %}	
			<td> {{ stuff.firststatus }}</td>
			<td> {{ stuff.secondstatus }}</td>
			<td>{{ stuff.finalstatus }}</td>
			<td><a href = "{% url 'documentdetailview' myid=stuff.id %}">{{ stuff.attachmentreceived }}</td></a>
		</tr>
		{% else %}
		<tr class = 'table'>
			<td> {{ stuff.created_at }}</td>
			<td> {% for each in stuff.users.all %}{{ each }}<br/>{% empty %}{{ stuff.user.username }} {% endfor %} </td>
			<td> {{ stuff.alltimeofftype }}</td>
			{% if stuff.starttime == None and stuff.endtime == None %}
				<td> {{ stuff.startdate}}</td>
				<td> {{ stuff.enddate}}</td>
			{% else %}
				<td> {{ stuff.startdate}} ({{ stuff.starttime }})</td>
				<td> {{ stuff.enddate}} ({{ stuff.endtime }})</td>
			{% endif %}	
			<td> {{ stuff.firststatus }}</td>
			<td> {{ stuff.secondstatus }}</td>
			<td>{{ stuff.finalstatus }}</td>
			<td><a href = "{% url 'documentdetailview' myid=stuff.id %}">{{ stuff.attachmentreceived }}</a></td>
		</tr>
		{% endif%}
	
{% endfor %}
</table>

<script>
      $(document).ready(function(){
        $("#checkbox1").prop('checked', false);
        // changevp();
      });

      let input1;
      let input2;

      function changeHideStatus(){
        
        if(document.getElementById("checkbox1").checked == true){

          document.getElementById("input2").setAttribute("class", "endtimefield");
          
          console.log(document.getElementById("id_pickvp").value)
          
        }
        else{
          document.getElementById("input2").setAttribute("class", "hide endtimefield");          
          console.log(document.getElementById("id_pickvp").value)
        }
      }

    </script>
</div>
{% endblock %}