Name of Employee: {{username}}
Type of Leave: {{type}}
From: {{startdate}}   {{starttime}}
To: {{enddate}}   {{endtime}}
Period: {{period}}
Reason: {{reason}}
 
Your leave application is under process, please remind your supervisor to check and approve the application before the leave day.
 
Before the application process is completed, your application will be checked and approved by your supervisor, vice principal and principal.
 
Remark: All leave applications must be submitted 3 days in advance.

* This is an automated message, please do not reply.
