{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<!--  -->

    <div class="content-section">
      <div style = "font-weight: lighter; font-style:italic;"> View Application > <a href="{% url 'secretarylistview' %}">Pending Applicaitons</a>  > Pending Action</div> 
      <div class="media">
        <div class="media-body">
          <h4> Applicant : {% for each in obj.users.all %}{{ each }}  {% empty %}{{ applicant.user.username }} {% endfor %}</h4>

          <div class = 'colforapplyandbalance'>

        <div class = 'colapply'>
            <p class="text-secondary">Type of Leave : {{ obj.alltimeofftype }}</p>

   
        
          <p class="text-secondary">Start Date : {{ obj.startdate }}</p>
          <p class="text-secondary">End Date : {{ obj.enddate }}</p>
          {% if obj.starttime != None and obj.endtime != None%}
          <p class="text-secondary">Start Time : {{ obj.starttime }}</p>
          <p class="text-secondary">End Time : {{ obj.endtime }}</p>
          {% endif %}
          
          {% if obj.nonteachertimeofftype == 'Overtime' or obj.nonteachertimeofftype == 'Overtime Compensatory Leave' %}
            <p class="text-secondary">Estimated Hour (hrs): {{ obj.duration }}</p>
          {% else %}
            <p class="text-secondary">Estimated Day (days): {{ obj.duration }}</p>
          {% endif %}
          <p class="text-secondary">Applicant Reason : {{ obj.reason }}</p>
          {% if obj.period != "[]" %}
                    <p class="font-weight-bold"> Period : {{ obj.period}}</p>
                    {% endif %}<br>
          {% if obj.user.is_nonteacher and not obj.groupapplystatus  %}
          <h4 class="account-heading">Supervisor Validation:</h4>          
          <p class="text-secondary">Supervisor Approval Status : {{ obj.firststatus }}</p>
          <p class="text-secondary">Supervisor comment : {{ obj.firstcomment }}</p><br>
          {% endif %}
          <h4 class="account-heading">Vice Principal Validation:</h4>          
          <p class="text-secondary">Vice Principal Approval Status : {{ obj.secondstatus }}</p>
          <p class="text-secondary">Vice Principal comment : {{ obj.secondcomment }}</p><br>
        </div>
      </div>
      </div>
      <div class = 'colbalance'>
          {% if not obj.groupapplystatus %}
              {% if applicant.is_nonteacher %}
              <h4> Balance for : {{ applicant.user }}</h4>
              <table style="width:30%">
                <tr class = 'table'>
                      <td> Sick Leave Balance</td>
                      <td> {{ applicant.sickleave }} day(s)</td>
                </tr>
                <tr class = 'table'>
                      <td> Annual Leave Balance</td>
                      <td> {{ applicant.annualleave }} day(s)</td>
                </tr>
                <tr class = 'table'>
                      <td> Overtime Balance</td>
                      <td> {{ applicant.compensatedleave }} hour(s)</td>
                </tr>
                <tr class = 'table'>
                      <td> Non-Teacher Ratio</td>
                      <td> {{ applicant.ratio }}</td>
                </tr>
              </table><br><br>
              {% else %}
              <h4> Balance of : {{ applicant.user }}</h4><hr>
              <table style="width:30%">
                <tr class = 'table'>
                      <td> Sick Leave Balance</td>
                      <td> {{ applicant.sickleave }} day(s)</td>
                </tr>
                <tr class = 'table'>
                      <td> Casual Leave Balance</td>
                      <td> {{ applicant.casualleave }} day(s)</td>
                </tr>
              </table><br><br>
              {% endif %}
             {%endif%}
              <hr/>
        </div>
    </div>

  <form method = 'POST' enctype='multipart/form-data' onsubmit="return confirm('Just want to make sure DID YOU DOUBLE CHECK?');"> 
    {% csrf_token %}
    <fieldset class='form-group'>
      <legend class='border-bottom mb-4'> Secretary Validation </legend>
      <div class="check">
      {{ u_form.attachmentrequired|as_crispy_field }}<br>

      {{ u_form.attachmentreceived|as_crispy_field }}
      </div><br>
    {% if obj.user.is_teacher %}
      {{ u_form.teacherchangetimeofftype|as_crispy_field }}
    {% else %}
      {{ u_form.nonteacherchangetimeofftype|as_crispy_field }}
    {% endif %}

      {{ u_form.secretarystatus|as_crispy_field }}

      {{ u_form.finalcomment|as_crispy_field }}

      {{ u_form.finalduration|as_crispy_field }}

    </fieldset>
    <div class='form-group'>
      <button type="submit" class="btn btn-primary" onclick="return confirm('*** WARNING : Check your entry as this is an irreversible action. Do you really want to submit? ***');" >Save</button>
    </div>
  </form>

  </div>
{% endblock %}